# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Large Models (uncomment if you want to exclude them)
# *.model
# *.npy

# OS files
.DS_Store
